<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="authTcp">
                    <security mode="Message">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAuth" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/Middleware/Auth" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IAuth" contract="proxy.IAuth"
                name="WSHttpBinding_IAuth">
                <identity>
                    <userPrincipalName value="DESKTOP-L776GRS\vanca" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9000/Middleware/Auth"
                binding="netTcpBinding" bindingConfiguration="authTcp" contract="proxy.IAuth"
                name="authTcp">
                <identity>
                    <userPrincipalName value="DESKTOP-L776GRS\vanca" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>