<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
              <binding name="decryptTcp" receiveTimeout="00:02:00" sendTimeout="00:01:00">
                <readerQuotas maxStringContentLength="819200" maxDepth="600" maxArrayLength="819200" maxBytesPerRead="819200"/>
                <security mode="Message" />
              </binding>

              <binding name="authTcp" receiveTimeout="00:02:00" sendTimeout="00:01:00">
                <readerQuotas maxStringContentLength="819200" maxDepth="600" maxArrayLength="819200" maxBytesPerRead="819200"/>
                <security mode="Message" />
                </binding>
            </netTcpBinding>
        </bindings>
      
        <client>
            <endpoint address="net.tcp://localhost:9000/Middleware/Auth"
                binding="netTcpBinding" bindingConfiguration="authTcp"
                      contract="AuthProxy.IAuth" name="authTcp">
                <identity>
                    <userPrincipalName value="DESKTOP-SNAIM3C\theo" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9000/Middleware/Decrypt"
                      binding="netTcpBinding" bindingConfiguration="decryptTcp"
                      contract="DecryptProxy.IDecrypt" name="decryptTcp">
                <identity>
                    <userPrincipalName value="DESKTOP-SNAIM3C\theo" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>